In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_encoded = pd.read_csv('co2_emissions_EDA_Completed.csv')
df_encoded.head(2)

,engine_size,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),cylinders_3,cylinders_4,cylinders_5,cylinders_6,cylinders_8,...,transmission_M,fuel_type_D,fuel_type_E,fuel_type_N,fuel_type_X,fuel_type_Z,make_freq,model_freq,vehicle_class_freq,co2_emissions
0,-0.851899,-0.764893,-1.042022,-0.856464,0.775786,False,True,False,False,False,...,False,False,False,False,False,True,0.00813,0.001116,0.143791,196
1,-0.558899,-0.398726,-0.602985,-0.482924,0.222145,False,True,False,False,False,...,True,False,False,False,False,True,0.00813,0.001116,0.143791,221

In [3]:
df_encoded.shape

(6273, 27)

In [4]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   engine_size                     6273 non-null   float64
 1   fuel_consumption_city           6273 non-null   float64
 2   fuel_consumption_hwy            6273 non-null   float64
 3   fuel_consumption_comb(l/100km)  6273 non-null   float64
 4   fuel_consumption_comb(mpg)      6273 non-null   float64
 5   cylinders_3                     6273 non-null   bool
 6   cylinders_4                     6273 non-null   bool
 7   cylinders_5                     6273 non-null   bool
 8   cylinders_6                     6273 non-null   bool
 9   cylinders_8                     6273 non-null   bool
 10  cylinders_10                    6273 non-null   bool
 11  cylinders_12                    6273 non-null   bool
 12  cylinders_16                    6273 non-null   bool
 13  transmission_A                  6273 non-null   bool
 14  transmission_AM                 6273 non-null   bool
 15  transmission_AS                 6273 non-null   bool
 16  transmission_AV                 6273 non-null   bool
 17  transmission_M                  6273 non-null   bool
 18  fuel_type_D                     6273 non-null   bool
 19  fuel_type_E                     6273 non-null   bool
 20  fuel_type_N                     6273 non-null   bool
 21  fuel_type_X                     6273 non-null   bool
 22  fuel_type_Z                     6273 non-null   bool
 23  make_freq                       6273 non-null   float64
 24  model_freq                      6273 non-null   float64
 25  vehicle_class_freq              6273 non-null   float64
 26  co2_emissions                   6273 non-null   int64
dtypes: bool(18), float64(8), int64(1)
memory usage: 551.5 KB

### Getting JSON file for make and make_freq

In [5]:
only_make_freq = df_encoded[['make_freq']]
only_make_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make_freq  6273 non-null   float64
dtypes: float64(1)
memory usage: 49.1 KB

In [6]:
df_original = pd.read_csv('co2_emissions.csv')
df_original.head(2)

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221

In [7]:
df_original.drop_duplicates(keep='first', inplace=True)

In [8]:
df_original.reset_index(drop=True, inplace=True)

In [9]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   make                            6273 non-null   object
 1   model                           6273 non-null   object
 2   vehicle_class                   6273 non-null   object
 3   engine_size                     6273 non-null   float64
 4   cylinders                       6273 non-null   int64
 5   transmission                    6273 non-null   object
 6   fuel_type                       6273 non-null   object
 7   fuel_consumption_city           6273 non-null   float64
 8   fuel_consumption_hwy            6273 non-null   float64
 9   fuel_consumption_comb(l/100km)  6273 non-null   float64
 10  fuel_consumption_comb(mpg)      6273 non-null   int64
 11  co2_emissions                   6273 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 588.2+ KB

In [10]:
only_make_original = df_original['make']

In [11]:
only_make_original.head(2)

0    ACURA
1    ACURA
Name: make, dtype: object

In [12]:
only_make_freq.head(2)

   make_freq
0    0.00813
1    0.00813

In [15]:
only_make = pd.concat([only_make_original, only_make_freq], axis=1)
only_make

       make  make_freq
0     ACURA   0.008130
1     ACURA   0.008130
2     ACURA   0.008130
3     ACURA   0.008130
4     ACURA   0.008130
...     ...        ...
6268  VOLVO   0.018811
6269  VOLVO   0.018811
6270  VOLVO   0.018811
6271  VOLVO   0.018811
6272  VOLVO   0.018811

[6273 rows x 2 columns]

In [14]:
only_make.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make       6273 non-null   object
 1   make_freq  6273 non-null   float64
dtypes: float64(1), object(1)
memory usage: 98.1+ KB

In [17]:
make_freq_dict = dict(zip(only_make['make'], only_make['make_freq']))

In [18]:
import json
with open('make_freq.json', 'w') as f:
    json.dump(make_freq_dict, f)

### Getting JSON file for model and model_freq

In [19]:
only_model_freq = df_encoded[['model_freq']]
only_model_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model_freq  6273 non-null   float64
dtypes: float64(1)
memory usage: 49.1 KB

In [20]:
only_model_original = df_original['model']

In [21]:
only_model_original.head(2)

0    ILX
1    ILX
Name: model, dtype: object

In [22]:
only_model_freq.head(2)

   model_freq
0    0.001116
1    0.001116

In [23]:
only_model = pd.concat([only_model_original, only_model_freq], axis=1)
only_model

            model  model_freq
0             ILX    0.001116
1             ILX    0.001116
2      ILX HYBRID    0.000319
3         MDX 4WD    0.000159
4         RDX AWD    0.000638
...           ...         ...
6268  XC40 T5 AWD    0.000319
6269  XC60 T5 AWD    0.000956
6270  XC60 T6 AWD    0.000956
6271  XC90 T5 AWD    0.000638
6272  XC90 T6 AWD    0.000797

[6273 rows x 2 columns]

In [24]:
only_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model       6273 non-null   object
 1   model_freq  6273 non-null   float64
dtypes: float64(1), object(1)
memory usage: 98.1+ KB

In [25]:
model_freq_dict = dict(zip(only_model['model'], only_model['model_freq']))

In [26]:
import json
with open('model_freq.json', 'w') as f:
    json.dump(model_freq_dict, f)

### Getting JSON file for vehicle_class and vehicle_class_freq

In [27]:
only_vehicle_class_freq = df_encoded[['vehicle_class_freq']]
only_vehicle_class_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   vehicle_class_freq  6273 non-null   float64
dtypes: float64(1)
memory usage: 49.1 KB

In [28]:
only_vehicle_class_original = df_original['vehicle_class']

In [30]:
only_vehicle_class_original.head(2)

0    COMPACT
1    COMPACT
Name: vehicle_class, dtype: object

In [29]:
only_vehicle_class_freq.head(2)

   vehicle_class_freq
0            0.143791
1            0.143791

In [31]:
only_vehicle_class = pd.concat([only_vehicle_class_original, only_vehicle_class_freq], axis=1)
only_vehicle_class

       vehicle_class  vehicle_class_freq
0            COMPACT            0.143791
1            COMPACT            0.143791
2            COMPACT            0.143791
3        SUV - SMALL            0.160051
4        SUV - SMALL            0.160051
...              ...                 ...
6268     SUV - SMALL            0.160051
6269     SUV - SMALL            0.160051
6270     SUV - SMALL            0.160051
6271  SUV - STANDARD            0.097720
6272  SUV - STANDARD            0.097720

[6273 rows x 2 columns]

In [32]:
only_vehicle_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6273 entries, 0 to 6272
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   vehicle_class       6273 non-null   object
 1   vehicle_class_freq  6273 non-null   float64
dtypes: float64(1), object(1)
memory usage: 98.1+ KB

In [33]:
vehicle_class_freq_dict = dict(zip(only_vehicle_class['vehicle_class'], only_vehicle_class['vehicle_class_freq']))

In [34]:
import json
with open('vehicle_class_freq.json', 'w') as f:
    json.dump(vehicle_class_freq_dict, f)